.feed {
  display: flex;
  max-width: 90%;
  margin: 10px auto;
}
ul > li {
  list-style-type: none;
  margin: 5px 0;
}

/* =================
Resposive
================= */

@media screen and (max-width: 600px) {
  .feed {
    width: 100%;
  }
  .left-feed {
    display: none;
  }
  .right-feed {
    display: none;
  }
}
