body {
  background-color: rgba(61, 5, 3, 0.8);
  color: #fff;
}

/* login css */
.login-error {
  margin: 20px 0;
  color: red;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.322);
}
.login-heading {
  margin-bottom: 50px;
}
.login-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 100px;
}
.login-left {
  width: 50%;
}
.login-img {
  width: 500px;
  height: 350px;
  border-radius: 10px;
}
.login-right {
  width: 50%;
  margin-left: 50px;
}
.login-input {
  margin: 10px 0;
  padding: 5px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  width: 80%;
  transition: 1s;
}
.login-input:focus {
  outline: none;
  background-color: rgb(241, 252, 149);
}
.checkbox {
  margin: 10px 0;
}

/* =======================
     Responsive
     ===================== */
@media screen and (max-width: 600px) {
  .login-container {
    display: block;
  }
  .login-heading > h1 {
    font-size: 2rem;
  }
  .login-left {
    width: 100%;
  }
  .login-right {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
}
