body {
  background-color: rgba(61, 5, 3, 0.8);
  color: #fff;
}
.profile-img {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
}
.profile-text {
  width: 80%;
  margin: 0 auto;
  padding: 50px 30px;
}
.profile-img > .img > img {
  width: 20%;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  text-align: center;
}
.profile-name {
  font-size: 2.5rem;
  margin: 10px 0;
}
.social-link-container {
  width: 80%;
  margin: 0 auto;
}
.button-container > ul {
  text-align: center;
  margin: 30px 0;
  padding: 20px 0;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
/* .button-container > ul > li {
  margin: 0 5px;
} */
.button-container > ul > li {
  display: inline-block;
}
.social-btn {
  background-color: rgb(0, 197, 223);
  color: #fff;
  border: 2px solid rgb(0, 197, 223);
  font-size: 2rem;
  margin: 0 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.profile-body {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.profile-details {
  width: 30%;
  padding: 15px;
  background-color: rgb(61, 5, 3, 0.3);
  border-radius: 5px;
}
.profile-details > ul > li {
  margin: 10px 0;
  list-style-type: none;
}
.profile-post {
  width: 70%;
}
.post {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 20px;
  background-color: rgb(61, 5, 3, 0.3);
}
.post > * {
  margin: 10px 0;
}
/* =====================
     Responsive
  ===================== */
@media screen and (max-width: 600px) {
  .profile-img {
    display: block;
  }
  .img {
    text-align: center;
  }
  .profile-img > .img > img {
    height: 200px;
    width: 200px;
  }
  .profile-text {
    margin: 20px auto;
    padding: 0;
    width: 100%;
  }
  .profile-body {
    display: block;
    width: 100%;
  }
  .profile-details {
    width: 80%;
    margin: 20px auto;
  }
  .profile-post {
    width: 100%;
  }
  .post {
    width: 100%;
  }

  .social-btn {
    margin: 10px;
  }
  .profile-post {
    width: 100%;
  }
}
